th:last-child,
td:last-child {
  text-align: center;

  .table-actions-wrap {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;

    i {
      margin: 0 10px;
    }
  }
}

.fa-info {
  margin-right: 10px;
}
