/* You can add global styles to this file, and also import other style files */
$gray-color: #D1D1D1;

body {
  margin: 0;
}

.container {
  display: flex;
  flex-flow: column;
  height: 100vh;

  .center-column-wrap {
    display: flex;
    flex-flow: column;
    height: 100vh;
    justify-content: center;
  }
}

.custom-box {
  border-radius: 4px;
  padding: 2em;
  border: 1px solid $gray-color;

  .form-item {
    input {
      width: 100%;
    }
  }

  .form-actions {
    display: flex;
    justify-content: center;

    button {
      min-width: 130px;
    }
  }
}
